body{

}
h1{
   align:center;
   font-family: Courier;
   font-size: 48px;
}

h5{
   align:center;
   font-family: Courier;
   font-size: 20px;
}

.contact{
   float: left-center;
}



p{
  align:center;
  font-family: Courier;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Courier New;
}

.AUul{
  align:right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
  font-family: Times ;
}

.AUli{
  float: left;
}

li {
  float: right;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#homeB{
  float: left;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #FFFF;
  color: #000;

}

blockquote {
    margin: 0;
    background: white;
    border-top: 5px solid #EAF9F9;
    border-bottom: 5px solid #EAF9F9;
    color: #3A3C55;
    padding: 30px 30px 30px 90px;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
blockquote:before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    background: #FB6652;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 50px;
    line-height: 1.35;
    text-align: center;
}
blockquote p {
      margin: 0 0 16px;
      font-size: 22px;
      letter-spacing: .05em;
      line-height: 1.4;
}
blockquote cite {
    font-style: normal;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: center;
  display: block;
  overflow: hidden;
  width: 180px;
}



div.desc {
  padding: 15px;
  text-align: center;
}
.zoom {
  padding: 50px;
  background-color: white;
  transition: transform .2s; /* Animation */
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.div_maps{
   float: left;
}

.footerAll{
  align: center;
  background-color: #FFF;
  color:black;
  border-radius: 25 px;
}

.footer{
  align:center;
  font-family: Courier;
  font-size: 20px;

}

/*social media*/
.fa {
  padding: 10px;
  font-size: 40px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;

}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-github {
  background: #000000;
  color: white;
}

.bottom{
  background: #FB6652;
  border-radius: 0%;
}

.bottom_p{
  font-size: 13px;
  color:white;
}
